.layout{
    min-width:100vw;
    min-height:100vh;
    display:inline-flex;
    flex-flow: row nowrap;
}
.menu{
    max-width:250px;
    width:20%;
    min-height:100vh;
    display:flex;
    flex-flow: column nowrap;
    padding-top:50px;
}
.menu > div{
    width:80%;
    min-width:184px;
    height:50px;
    background:rgb(39, 39, 39);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    padding-right:30px;
    cursor:pointer;
    font-size:1.2em;
    color:rgb(209, 209, 209);
}
.menu > div:hover{
    background:rgb(63, 63, 63)
}
main{
    width:80%;
    min-height:100vh;
}